Repository codesquad-member-2020/airbnb-04, pull requests merged in 2020-06, with the labels that each got.

#28 달력 로직 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Accommodations/AccommodationsViewController.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/ConditionSettingViewController.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/DatePickerViewController.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Model/DatePicker.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Model/Month.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Model/WeekDays.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Paging/Calendar/CalendarCell.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Paging/Calendar/CalendarDataSource.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Paging/Calendar/CalendarHeaderView.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Paging/Calendar/CalendarView.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Paging/PagingCell.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Paging/PagingDataSource.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Paging/PagingView.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Utils/DateCalculator.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/WeekDayView.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/InterfaceView.swift
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/README.md
Labels: iOS

#30 네트워킹, 날짜 선택 테스트코드 작성
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb.xcodeproj/xcshareddata/xcschemes/Airbnb.xcscheme
  iOS/Airbnb/Airbnb.xcodeproj/xcshareddata/xcschemes/DatePickerTests.xcscheme
  iOS/Airbnb/Airbnb.xcodeproj/xcshareddata/xcschemes/NetworkingTests.xcscheme
  iOS/Airbnb/Airbnb/Network/Model/Accommodations.swift
  iOS/Airbnb/DatePickerTests/DatePickerTests.swift
  iOS/Airbnb/DatePickerTests/Info.plist
  iOS/Airbnb/NetworkingTests/Info.plist
  iOS/Airbnb/NetworkingTests/NetworkingTests.swift
Labels: iOS

#32 인원 선택 화면 UI 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Accommodations/AccommodationsViewController.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/ConditionSettingViewController.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/DatePickerViewController.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/DetailSelectionView.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/Model/AgeGroup.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/PersonnelSelectorView.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/PersonnelSelectorViewController.swift
Labels: iOS

#34 인원 선택 화면 로직 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/DetailSelectionView.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/Model/PersonnelSelector.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/PersonnelSelectorView.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/PersonnelSelectorViewController.swift
  iOS/Airbnb/Airbnb/Extension/NotificationName.swift
Labels: iOS

#39 [#38] refactor : 서비스와 DAO 를 관련있는 것들끼리 분류
  BE/src/main/java/com/group4/airbnb/controller/HouseController.java
  BE/src/main/java/com/group4/airbnb/dao/BookingDAO.java
  BE/src/main/java/com/group4/airbnb/dao/BookmarkDAO.java
  BE/src/main/java/com/group4/airbnb/dao/HouseDAO.java
  BE/src/main/java/com/group4/airbnb/dto/BookingDTO.java
  BE/src/main/java/com/group4/airbnb/service/BookingService.java
  BE/src/main/java/com/group4/airbnb/service/BookmarkService.java
  BE/src/main/java/com/group4/airbnb/service/HouseService.java
Labels: BE

#41 [#40] feat: 예약 페이지 조회 api 구현
  BE/src/main/java/com/group4/airbnb/controller/HouseController.java
  BE/src/main/java/com/group4/airbnb/dao/BookingDAO.java
  BE/src/main/java/com/group4/airbnb/dto/BookingDTO.java
  BE/src/main/java/com/group4/airbnb/service/BookingService.java
Labels: BE, feature

#45 피드백 반영
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb.xcodeproj/xcshareddata/xcschemes/Airbnb.xcscheme
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/DatePickerViewController.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Model/DatePicker.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Paging/Calendar/CalendarCell.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Paging/Calendar/CalendarDataSource.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Paging/PagingDataSource.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Paging/PagingView.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/DatePicker/Utils/DateCalculator.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/DetailSelectionView.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/Model/AgeGroup.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/Model/PersonnelSelector.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/PersonnelSelectorView.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/PersonnelSelector/PersonnelSelectorViewController.swift
  iOS/Airbnb/Airbnb/Extension/Date.swift
  iOS/Airbnb/Airbnb/Extension/NotificationName.swift
  iOS/Airbnb/DatePickerTests/DatePickerTests.swift
  iOS/Airbnb/NetworkingTests/NetworkingTests.swift
Labels: iOS

#48 Image Caching
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Accommodations/AccommodationsViewController.swift
  iOS/Airbnb/Airbnb/Accommodations/TableView/AccommodationsDataSource.swift
  iOS/Airbnb/Airbnb/Accommodations/TableView/Cell/AccommodationsCell.swift
  iOS/Airbnb/Airbnb/Accommodations/TableView/Cell/AccommodationsCellViewModel.swift
  iOS/Airbnb/Airbnb/Extension/NotificationName.swift
  iOS/Airbnb/Airbnb/Extension/String.swift
  iOS/Airbnb/Airbnb/Network/Model/Accommodations.swift
  iOS/Airbnb/Airbnb/Network/Model/AirbnbMockNetworkSuccessImpl.swift
  iOS/Airbnb/Airbnb/Network/Model/AirbnbNetworkImpl.swift
  iOS/Airbnb/Airbnb/Network/Model/Endpoint.swift
  iOS/Airbnb/Airbnb/Network/Model/ImageManager.swift
  iOS/Airbnb/DatePickerTests/Info.plist
Labels: iOS

#50 검색 기능 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Accommodations/AccommodationsViewController.swift
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Extension/UITextField.swift
  iOS/Airbnb/Airbnb/Network/Model/Endpoint.swift
Labels: iOS

#52 숙소 목록 순차적 업데이트 구현
  iOS/Airbnb/Airbnb/Accommodations/AccommodationsViewController.swift
  iOS/Airbnb/Airbnb/Accommodations/ConditionSetting/ConditionSettingViewController.swift
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Network/Model/Endpoint.swift
Labels: iOS

#54 지도 기능 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Accommodations/AccommodationsViewController.swift
  iOS/Airbnb/Airbnb/Accommodations/Map/MapAnnotation.swift
  iOS/Airbnb/Airbnb/Accommodations/Map/MapDetailView.swift
  iOS/Airbnb/Airbnb/Accommodations/Map/MapViewController.swift
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
Labels: iOS
